@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 98px;
  padding-right: 98px;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  background-color: #feafc3;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  min-width: 1366px;
}

/* header */

.slider {
  margin-bottom: 80px;
}

.wrapper-inner {
  display: flex;
  padding: 24px 0;
}

.navigation-logo {
  margin: 0 32px 0 0;
}

.navigation-user {
  display: flex;
  margin: 0 164px 0 0;
  padding: 15px 0;
  align-items: center;
}

.current {
  margin: 0 54px 0 0;
}

.dropdown-button {
  border: none;
  background: none;
  cursor: pointer;
}

.dropdown-list {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  margin: 0;
  padding: 8px 0;
  list-style-type: none;
  background: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  transform: translate(-3%, 8px);
}

.dropdown-item:first-child {
  margin: 0 0 8px 0;
  position: relative;
}

.dropdown-item:first-child::before {
  position: absolute;
  content: "";
  width: 103px;
  height: 1px;
  background-color: rgba(185, 185, 185, 1);
  bottom: -4px;
  left: 16px;
}

.dropdown-link {
  display: block;
  padding: 6px 16px;
}

.style-current {
  margin: 0 32px 0 0;
}

.navigation-control {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 15px 0;
}

.link-styles {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.navigation-phone {
  font-weight: 700;
}

.buttons-navigation {
  padding: 8px;
  width: 32px;
  height: 32px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  border: none;
  cursor: pointer;
}

.icon-login {
  position: relative;
  top: 3px;
  left: -1px;
  fill: #2d3440;
}

.buttons-login {
  padding: 6px 16px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.link-control-styles {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  position: relative;
}

.basket-buttons {
  border: none;
  cursor: pointer;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  padding: 6px 16px;
}

.dropdown-search-input {
  padding: 14px 66px 14px 16px;
}

.icon-basket {
  position: relative;
  left: -1px;
  top: 2px;
  fill: #2d3440;
}

.new-weight {
  font-weight: 700;
}

.wrapper-search-form {
  display: none;
  position: absolute;
  padding: 16px 24px;
  background-color: #fcfcfc;
  border-radius: 4px;
  transform: translate(-91%, 8px);
  z-index: 1;
}

.wrapper-login-form {
  display: none;
  position: absolute;
  flex-direction: column;
  padding: 48px 48px 52px 48px;
  background-color: #fcfcfc;
  z-index: 1;
  border-radius: 4px;
  transform: translate(-80%, 8px);
}

.dropdown-form-title {
  margin: 0 0 32px 0;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.label-mail {
  margin: 0 0 16px 0;
}

.inputs-dropdown {
  padding: 16px 84px 16px 14px;
}

.label-password {
  margin: 0 0 32px 0;
}

.form-button-wrapper {
  display: flex;
  gap: 23px;
}

.input-password-dropdown {
  padding: 16px 84px 16px 14px;
}

.button-login {
  align-self: start;
}

.faq-dropdown-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content-full {
  display: none;
  position: absolute;
  background: #fcfcfc;
  border-radius: 4px;
  z-index: 1;
  transform: translate(-77%, 8px);
}

.full-wrapper {
  padding: 48px;
  display: flex;
  flex-direction: column;
}

.cart-content-title {
  margin: 0 0 32px 0;
}

.cart-content-list {
  padding: 0;
  margin: 0 0 40px 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cart-content-item {
  margin: 0 0 24px 0;
}

.cart-content-link {
  display: flex;
  text-decoration: none;
}

.basket-images {
  margin: 0 16px 0 0;
}

.cart-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0 86px 0 0;
}

.cart-content-item:nth-child(2) .cart-content-wrapper {
  margin: 0 72px 0 0;
}

.cart-content-price {
  padding: 0 26px 0 0;
  display: block;
  align-self: center;
}

.cart-content-text {
  margin: 0;
}

.full-button-wrapper {
  display: flex;
  gap: 32px;
}

.cart-content-button {
  position: absolute;
  background-image: url("../images/svg/button-close.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  right: 0;
  transform: translate(0, -30px);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.content-full-button {
  align-self: start;
}

.content-full-text {
  align-self: center;
}

.content-empty {
  display: none;
  padding: 48px 29px;
  position: absolute;
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px rgba(44, 51, 63, 0.12);
  border-radius: 4px;
  transform: translate(-61%, 8px);
  z-index: 1;
}

.empty-text {
  display: block;
  text-align: center;
}

.dropdown-styles {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
}

.cart-content-weight {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
}

/* main */

.slider-card-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 888px 141px 141px;
}

.slider-card-item {
  list-style-type: none;
}

.slider-current-item {
  display: grid;
  grid-template-columns: 540px 348px;
}

.images-current {
  scale: 30%;
  position: relative;
  transform: translate(-68%, 19%);
}

.images-current-main {
  position: relative;
  transform: translate(7%, 4%);
}

.slider-description {
  margin: 0;
}

.slider-card-title {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2d3440;
  margin: 0 0 24px 0;
}

.slider-current {
  display: none;
}

.slider-content {
  padding: 136px 29px 126px 70px;
}

.slider-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 48px 0;
}

.buttons-style {
  font-weight: 700;
  display: inline-flex;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgb(45 52 64 / 0.1);
  border-radius: 26px;
  background: #fcfcfc;
  padding: 12px 32px;
}

.social-pagination-wrapper {
  display: flex;
  justify-content: space-between;
}

.indicators-pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.indicators-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #fcfcfc;
  background-color: #fcfcfc;
  cursor: pointer;
  padding: 0;
  position: relative;
  outline: none;
}

.main-social-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 24px);
  list-style-type: none;
  gap: 16px;
}

.main-social-link {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  outline: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 24px;
}

.main-social-link::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  left: 0;
  top: 0;
}

.svg-icons {
  fill: #ffffff;
}

.section-title {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2d3440;
  margin: 0;
}

.order {
  margin: 0 0 81px 0;
}

.order-wrapper {
  display: flex;
  gap: 30px;
}

.banner {
  padding: 36px 168px 36px 36px;
  min-width: 570px;
  background-color: #ff7799;
  border-radius: 16px;
}

.banner-word {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

.raspberry {
  align-self: start;
}

.marshmallow {
  align-self: start;
}

.order-text {
  margin: 0 0 28px 0;
  display: block;
}

.order-title {
  padding: 0 280px;
  margin: 0 0 55px 0;
}

.raspberry-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  margin: 0 0 28px 0;
  padding: 0;
}

.raspberry-background {
  position: relative;
}

.raspberry-background::before {
  position: absolute;
  content: "";
  width: 219px;
  height: 268px;
  background-image: url("../images/background/raspberry-background.png");
  background-repeat: no-repeat;
  transform: translate(145%, -35%);
}

.marshmallow-background {
  position: relative;
}

.marshmallow-background::before {
  position: absolute;
  content: "";
  width: 219px;
  height: 268px;
  background-image: url("../images/background/marshmallow-background.png");
  background-repeat: no-repeat;
  transform: translate(144%, -35%);
}

.banner-link {
  font-weight: 700;
  text-align: center;
}

.product {
  margin: 0 0 80px 0;
}

.product-container {
  padding: 140px 40px 24px 40px;
  background-color: #ffffff;
  border-radius: 8px;
}

.product-title {
  padding: 0 270px;
  margin: 0 0 107px 0;
}

.product-item {
  list-style-type: none;
  position: relative;
}

.product-elements-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 91px 30px;
}

.product-images {
  position: absolute;
  left: 19%;
  top: -18%;
}

.product-wrapper {
  margin: 0 0 16px 0;
}

.product-element {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2d3440;
  margin: 0 0 8px 0;
}

.product-description {
  margin: 0;
  text-align: center;
}

.description-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
}

.product-price {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.ceo {
  margin: 0 0 80px 0;
}

.waffles-wrapper {
  padding: 24px;
  background-image: url("../images/background/background-waffles.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
}

.ceo-contents {
  padding: 56px 40px;
  background-color: #ffffff;
  border-radius: 16px;
}

.ceo-title {
  margin: 0 0 56px 0;
}

.ceo-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 505px);
  row-gap: 40px;
  column-gap: 32px;
}

.ceo-content {
  margin: 0;
  padding: 0 0 0 64px;
  position: relative;
}

.ceo-content::before {
  position: absolute;
  content: "";
  background-image: url("../images/svg/icon-ice-ceo.svg");
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
}

.cow-icon::before {
  background-image: url("../images/svg/icon-cow-ceo.svg");
  background-repeat: no-repeat;
}

.leaf-icon::before {
  background-image: url("../images/svg/icon-leaf-ceo.svg");
  background-repeat: no-repeat;
}

.thermometer-icon::before {
  background-image: url("../images/svg/icon-thermometer-ceo.svg");
  background-repeat: no-repeat;
}

.news {
  margin: 0 0 80px 0;
}

.new-word {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
  margin: 0 0 12px 0;
}

.fruits-title {
  margin: 0;
}

.news-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  gap: 30px;
}

.fruits-sherbet {
  padding: 32px 235px 67px 33px;
  background-color: #ffffff;
  border-radius: 16px;
  background-image: url("../images/background/background-news.jpg");
  background-repeat: no-repeat;
  background-position: -3px -112px;
  background-size: 652px;
  align-self: start;
}

.subscribes-wrapper {
  background-image: url("../images/background/background-news-form.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 6px;
  background-color: #ffffff;
  background-size: cover;
  background-position: -4px 0;
  align-self: start;
}

.subscribes-container {
  padding: 26px;
  background-color: #ffffff;
  border-radius: 16px;
}

.subscribes-description {
  margin: 0 0 42px 0;
}

.subscribes {
  display: flex;
  justify-content: space-between;
}

.delivery {
  margin: 0 0 80px 0;
}

.delivery-container {
  display: flex;
  padding: 64px;
  border-radius: 16px;
  background-color: #ffffff;
  background-image: url("../images/background/background-delivery.jpg");
  background-repeat: no-repeat;
  background-position: -5px -134px;
  background-size: 104%;
}

.delivery-wrapper {
  padding: 103px 116px 99px 36px;
}

.delivery-form-wrapper {
  padding: 40px 40px 42px 40px;
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.delivery-description-form {
  margin: 0 0 32px 0;
}

.delivery-title {
  margin: 0 0 24px 0;
}

.delivery-description {
  margin: 0;
}

.wrapper-form-contacts {
  display: flex;
  gap: 16px;
  margin: 0 0 20px 0;
}

.form-address {
  margin: 0 0 32px 0;
}

.label-address {
  display: flex;
  flex-direction: column;
}

/* form */

.title-form {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  display: inline-flex;
  margin: 0 0 8px 0;
}

.inputs-form {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

.inputs-date {
  padding: 14px 16px;
  width: 117px;
}

.inputs-phone {
  padding: 14px 50px 14px 16px;
}

.inputs-address {
  padding: 14px 64px 14px 16px;
}

.subscribes-field {
  padding: 14px 95px 14px 16px;
}

.inputs-form::placeholder {
  color: rgba(185, 185, 185, 1);
}

.inputs-dropdown::placeholder {
  color: #2d3440;
}

.button-form {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fcfcfc;
  background-color: #ff2f64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgb(45 52 64 / 10%);
  border-radius: 26px;
  padding: 12px 32px;
  border: none;
  cursor: pointer;
}

.delivery-button-form {
  display: block;
  margin: 0 auto;
}

.feedback-wrapper {
  padding: 64px 763px 64px 64px;
  background-color: #ffffff;
  border-radius: 16px;
  background-image: url("../images/background/background-feedback.jpg");
  background-repeat: no-repeat;
  background-position: center -108px;
  background-size: 101%;
}

.feedback-content {
  display: flex;
  flex-direction: column;
  padding: 40px 40px 42px 40px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.feedback-area {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.feedback-number-title {
  text-decoration: none;
}

.feedback-address-title {
  margin: 0 0 12px 0;
  padding-right: 84px;
}

.feedback-address {
  margin: 0 0 24px 0;
}

.feedback-text-phone {
  margin: 0 0 12px 0;
}

.number-phone-text {
  display: block;
  margin: 0 0 32px 0;
}

.feedback-number-phone {
  text-decoration: none;
}

.weight-styles {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
}

.faq-dropdown-link {
  color: #2d3440;
}

/* footer */

.page-footer-wrapper {
  padding: 48px 0;
  display: flex;
}

.footer-social {
  padding: 0 317px 0 0;
}

.footer-social-list {
  margin: 0;
}

.footer-menu {
  display: grid;
  grid-template-columns: 150px 182px;
  gap: 8px 24px;
  padding: 0 200px 0 0;
}

.weight-current {
  font-weight: 700;
  margin: 0;
  padding: 0 0 0 24px;
  position: relative;
}

.weight-current::before {
  position: absolute;
  content: "";
  background-image: url("../images/svg/heart-icon-footer.svg");
  background-repeat: no-repeat;
  width: 14px;
  height: 13px;
  left: 0;
  top: 3px;
}

.copyright-academy {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
}

/* modal */

.modal-close-state {
  display: none;
}

/* catalog */

.catalog-header {
  margin: 0 0 40px 0;
}

.breadcrumbs-container {
  padding: 32px 0 0 0;
}

.breadcrumbs-list {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  margin: 0 0 16px 0;
}

.breadcrumbs-item {
  list-style-type: none;
  margin: 0 28px 0 0;
}

.breadcrumbs-link {
  font-weight: 700;
}

.catalog-title-inner {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin: 0;
}

.sorting-styles {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.catalog-price {
  border: none;
}

.catalog-calories {
  border: none;
}

.catalog-filling {
  border: none;
}

.calories-item {
  list-style-type: none;
}

.filling-item {
  list-style-type: none;
}

.sorting-button {
  font-weight: 700;
}

.button-product {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2d3440;
}

.pagination-item {
  list-style-type: none;
}

.pagination-link {
  font-weight: 400;
}
